@import 'switch';

$color-darker: #131722;
$color-dark: #18202d;
$color-primary: #5964e0;
$color-secondary: #f5f6f8;
$color-light: #6670e3;
$color-white: #fff;
$color-black: #000;
$color-muted: #9da5af;

$colors: (
  'dark': $color-dark,
  'primary': $color-primary,
  'secondary': $color-secondary,
  'white': $color-white,
  'black': $color-black,
  'muted': $color-muted,
  'light': $color-light
);

$positions: relative, absolute, sticky, fixed;

$displays: none, block, inline, inline-block, flex, grid;

$flex-directions: row, column, row-reverse, column-reverse;

$wraps: wrap, nowrap;

$orders: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

$named-props: (
  'justify-content': (
    'start': flex-start,
    'end': flex-end,
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly,
    'center': center,
    'stretch': stretch
  ),
  'align-items': (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'stretch': stretch
  )
);

$break-points: (
  xs: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-break($break-point: md) {
  $width: map-get($break-points, $break-point);
  $break: if($width, $width, 768px);

  @media (min-width: $break) {
    @content;
  }
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;;
  color: $color-muted;
  background-color: $color-secondary;
  font-weight: lighter;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@each $key, $color in $colors {
  .text-#{$key},
  .hover-#{$key}:hover {
    color: $color;
  }

  .bg-#{$key} {
    background-color: $color;
  }

  .border-#{$key} {
    border-color: $color;
  }

  .hover-#{$key}:hover {
    color: $color;
  }
}

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}

@each $prop, $vals in $named-props {
  @each $key, $val in $vals {
    .#{$prop}-#{$key} {
      #{$prop}: $val;
    }
  }
}

@each $direction in $flex-directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }

  @each $break, $width in $break-points {
    @include media-break($break) {
      .flex-#{$break}-#{$direction} {
        flex-direction: $direction;
      }
    }
  }
}

@each $wrap in $wraps {
  .flex-#{$wrap} {
    flex-wrap: $wrap;
  }

  @each $break, $width in $break-points {
    @include media-break($break) {
      .flex-#{$break}-#{$wrap} {
        flex-wrap: $wrap;
      }
    }
  }
}

@each $order in $orders {
  .order-#{$order} {
    order: $order;
  }
}

main {
  position: relative;
  top: -50px;
}

input {
  outline: none;
  border: none;
  font-size: 18px;
}

b {
  font-weight: bold;
}

.pages {
  .details-page {
    display: none;
  }

  &.details {
    .details-page {
      display: block;
    }
  }
}

.d-none {
  &.d-xs-block {
    @include media-break(xs) {
      display: block;
    }
  }
  &.d-md-block {
    @include media-break(md) {
      display: block;
    }
  }
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-left {
  border-left-width: 1px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade {
  opacity: 0.6;
}

.dim {
  background-color: rgba(0, 0, 0, 0.26);
}

.clip {
  position: absolute;
  clip-path: circle(1px);
  color: transparent;
}

.details-screen {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 576px;
}

.screen {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  @include media-break(sm) {
    width: 576px;
  }

  @include media-break(md) {
    padding: 0;
    width: 720px;
  }

  @include media-break(lg) {
    width: 960px;
  }

  @include media-break(xl) {
    width: 1140px;
  }
}

.page-header {
  padding: 50px 0 80px;
  background-image: url(assets/images/banner.png);
  background-size: cover;
  background-color: $color-light;

  h1 {
    font-size: 3.2rem;
  }

  .sun {
    margin-right: 15px;
  }

  .moon {
    transform: rotate(-45deg);
    margin-left: 15px;
  }
}

.search-btn {
  padding: 15px;
  margin-left: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;

  input[placeholder] {
    text-overflow: ellipsis;
  }

  & > * {
    padding: 30px 15px;
    background-color: $color-white;
    display: flex;
    align-items: center;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    .has-icon {
      position: relative;
      padding-left: 30px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-size: cover;
      }

      &.search-field-label::before {
        background-image: url(assets/images/magnify.png);
        top: 2px;
      }

      &.search-location-label::before {
        background-image: url(assets/images/map-marker.png);
        top: -2px;
      }
    }
  }

  .search-field-label {
    margin-right: 50px;

    @include media-break(md) {
      margin-right: 0;
    }
  }

  .type-label-text {
    font-weight: bold;
    font-size: 0.8rem;
    color: $color-black;
  }

  @include media-break(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  padding: 30px;
  
  &.clickable {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
}

.articles-wrap {
  @include media-break(xs) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @include media-break(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.job-list-header {
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  background-color: $color-secondary;
}

.job-list-card {
  padding-top: 30px;
  margin: 30px 0;
  position: relative;

  h3 {
    font-size: 1.5rem;

    @include media-break(lg) {
      font-size: 1rem;
    }
  }

  .inner {
    padding-top: 30px;
    
    & > * {
      padding: 5px 0;
    }
  }

  .company-logo {
    position: absolute;
    left: 30px;
    top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  .location {
    font-weight: bold;
    font-size: 0.95rem;

    @include media-break(lg) {
      font-size: 0.8rem;
    }
  }

  .card.clickable {
    height: 100%;
  }

  @include media-break(lg) {
    font-size: 0.8rem;
  }
}

.more-jobs-wrap {
  padding: 20px 0;

  .btn {
    padding: 20px 30px;
    font-size: 22px;
  }

  .loader-wrap {
    display: none;
  }

  &.loading {
    .btn {
      display: none;
    }

    .loader-wrap {
      display: flex;
    }
  }
}

.job-details {
  padding-top: 40px;

  ul, ol {
    padding-left: 15px;
  }
  .logo {
    margin-right: 20px;
  }

  .company {
    font-weight: bold;
  }

  .site-link {
    font-weight: bold;
    font-size: 0.95rem;
    margin-right: 30px;
    padding: 10px 15px;
  }

  .white-sections {
    margin: 20px 0;
  }

  .details-intro-header {
    margin-bottom: 30px;
  }

  .reduced {
    font-weight: bold;
    font-size: 0.8rem;
  }

  .apply-btn {
    padding: 10px 15px;
  }

  .how-to-apply {
    background-image: url(assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
}

.type {
  span {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-muted;
    }
  }
}

.h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

.h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

.details-footer {
  margin-bottom: 15px;
  padding: 15px 0;

  .btn {
    padding: 10px 15px;
  }
}

.themed {
  .card {
    background-color: $color-white;

    &.secondary {
      background-color: $color-secondary;
    }
  }

  &.dark {
    .card {
      background-color: $color-dark;

      &.secondary {
        background-color: $color-darker;
      }
    }
  }
}

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }

  @each $break, $width in $break-points {
    @include media-break($break) {
      .d-#{$break}-#{$display} {
        display: $display;
      }
    }
  }
}
